<h1>{{ episode }}</h1>

<h2>Music Played</h2>

<ul>
{% for segment in episode.songsegment_set.all %}
    <li>
        <span class="artist"><a href="{{ segment.song.artist.get_absolute_url }}">{{ segment.song.artist }}</a></span>
        <span class="separator">&mdash;</span>
        <span class="title">{{ segment.song.title }}</span>
    </li>
{% empty %}
    <li>No data yet.</li>
{% endfor %}
</ul>

<h2>Broadcast</h2>

<ul>
{% for instance in episode.instances.all %}
    <li>{{ instance.tx_time }}</li>
{% empty %}
    <li>No instances found.</li>
{% endfor %}
</ul>

<h2>More Details</h2>

<ul>
    <li>A programme from: <a href="{{ episode.show.get_absolute_url }}">{{ episode.show }}</a></li>
    <li>Duration: {{ episode.duration }}</li>
</ul>