<h1>{{ object }}</h1>

<h2>Music Played</h2>

<ul>
{% for object in object.songsegment_set.all %}
    <li>
        <span class="artist"><a href="{{ object.song.artist.get_absolute_url }}">{{ object.song.artist }}</a></span>
        <span class="separator">&mdash;</span>
        <span class="title">{{ object.song.title }}</span>
    </li>
{% empty %}
    <li>No data yet.</li>
{% endfor %}
</ul>

<h2>Broadcast</h2>

<ul>
{% for object in object.instances.all %}
    <li>{{ object.tx_time }}</li>
{% empty %}
    <li>No instances found.</li>
{% endfor %}
</ul>

<h2>More Details</h2>

<ul>
    <li>A programme from: <a href="{{ object.show.get_absolute_url }}">{{ object.show }}</a></li>
    <li>Duration: {{ object.duration }}</li>
</ul>